<table class="highlight">
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
    {{#each categorias as |categoria|}}
      {{categoria-row categoria=categoria categoriaClick=(action categoriaClick)}}
    {{/each}}
  </tbody>
</table>
