<table class="highlight">
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
    {{#each mentorias as |mentoria|}}
      {{mentoria-row mentoria=mentoria mentoriaClick=(action mentoriaClick)}}
    {{/each}}
  </tbody>
</table>
