<table class="highlight">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Papel</th>
    </tr>
  </thead>

  <tbody>
    {{#each usuarios as |usuario|}}
      {{usuario-row usuario=usuario userClick=(action userClick)}}
    {{/each}}
  </tbody>
</table>
