<b>ID:</b> {{model.id}}<br>
<b>Nome:</b> {{input type="text" value=model.nome}}

<p><button {{action "salvar"}} class="green btn">Salvar</button>
<button {{action "apagar"}} class="red btn">Apagar</button></p>