  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!" {{action "logout"}}>Sair</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  {{dash-board model=model 
    userClick=(action "userClick")
    mentoriaClick=(action "mentoriaClick")
    categoriaClick=(action "categoriaClick")
    criarCategoria=(action "criarCategoria")}}
</div>