<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
      Administradores
    </div>
        <div class="collection">
          <a href="#!" class="collection-item">Cadastrar novo admin</a>
          <a href="#!" class="collection-item">Alterar e-mail</a>          
        </div> 
  </li>
  </ul>
  
